<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Ana sayfa yönlendirmesi -->
                <rule name="Anasayfa">
                    <match url="^$" />
                    <action type="Rewrite" url="index.html" />
                </rule>
                
                <!-- Sayfa yönlendirmeleri -->
                <rule name="Sayfalar">
                    <match url="^(anasayfa|magaza|kredi-yukle|kredi-gonder|destek|giris|kayit|hakkimizda|kurallar|gizlilik-politikasi|iletisim)$" />
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
                
                <!-- HTTPS zorlama -->
                <rule name="HTTPS Zorlama" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                
                <!-- WWW olmadan çalışma -->
                <rule name="WWW Kaldırma" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
                    </conditions>
                    <action type="Redirect" url="https://{C:1}/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <httpErrors errorMode="Custom">
            <remove statusCode="404" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration> 